{% extends 'base.html.twig' %}
{% block title %}
<title>AliBay</title>
{% endblock %}
{% block body %}

<!-- =============== START CONTENT HERE ================================ -->

<!-- ============== CAROUSEL ==================-- >

<div class="bg-login-popup js-bg-login-popup"></div>
<!-- BEGIN content_for_index -->
<div id="shopify-section-1584353475696" class="shopify-section index-section">
	<div data-section-id="1584353475696" data-section-type="section-slideshow-v1" style="  ">
		<div class="section-slideshow-v1 ">
			<div class="slick-side-h1">
 

				<div class="itemv-slide-h1">
					<div class=" info-sideh1">
						<div class="picture-slideshow">
							<div class="d-none d-md-block">


								<a href="#">

								<!-- ========= Desktop 1 ======= -->
<img class="w-100" style="filter:  brightness(0.3) invert(0);height:600px ;  filter:  brightness(0.6) invert(0);  object-fit: cover;" src="uploads/Home/backgroundQR2.jpg" class="img-responsive img_slideh1" alt="">

								</a>


							</div>


							<div class="d-block d-md-none">

								<a href="#">

								<!-- ======  MOBILE 1 ======== -->
<img class="w-100" style="filter:  brightness(0.3) invert(0);" src="uploads/Home/backgroundQR.jpeg" class="img-responsive img_slideh1" alt="">

								</a>

							</div>

						</div>

						<div class=" box-content-right  ">

							<div class=" text-right box-info box-info-1584353475696-1">
								<div class="box-title1 box-title1-1584353475696-1  animated">

									<h3 class="title-small mb-0" style="color:white; text-shadow: black 0.1em 0.1em 0.2em">Besoin de poser vos produits en ligne?</h3>

								</div>
								<div class="box-title box-title-1584353475696-1 animated">

									<h3 class="titlebig mb-0" style="color:white; text-shadow: black 0.1em 0.1em 0.2em">ALI BAY EST LA POUR VOUS</h3>

								</div>
								<div class="box-title2 box-title2-1584353475696-1  animated">

									<h3 class="title-small mb-0" style="text-shadow: #f0002f 0.1em 0.1em 0.2em ; color : white ; font-weight : bold ;">Rejoignez nous aujourd'hui et commencez à personnaliser votre boutique en ligne.</h3>

								</div>

								<a class="button-main2 button-shop-1584353475696-1  animated" href="/partenariat" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; color:#f3f3f3; border-color : #f0002f ; background-color : #f0002f ; ">
									Ouvrir Boutique
								</a>


							</div>

						</div>
					</div>
				</div>


				<div class="itemv-slide-h1">
					<div class=" info-sideh1">
						<div class="picture-slideshow">
							<div class="d-none d-md-block">


								<a href="#">
<img class="w-100" style="height:600px ;  filter:  brightness(0.6) invert(0);  object-fit: cover;" src="uploads/Home/backgroundQR.jpeg" class="img-responsive img_slideh1" alt="">


								</a>


							</div>


							<div class="d-block d-md-none">

								<a href="#">
<img class="w-100" style="height:600px ;  filter:  brightness(0.6) invert(0);  object-fit: cover;" src="uploads/Home/backgroundQR.jpeg" class="img-responsive img_slideh1" alt="">

								</a>

							</div>

						</div>

						<div class=" box-content   ">

							<div class=" text-left box-info box-info-1584353475696-2">
								<div class="box-title1 box-title1-1584353475696-2  animated">

									<!--h3 class="title-small mb-0" style="font-weight : bold ; color : white ;    text-shadow: black 0.1em 0.1em 0.2em">Bizerte, c'est notre départ !</h3-->

								</div>
								<div class="box-title box-title-1584353475696-2 animated">

									<h3 class="titlebig mb-0" style=" color : white ; text-shadow: black 0.1em 0.1em 0.2em">DECOUVREZ NOS RECOMMENDATIONS</h3>

								</div>
								<div class="box-title2 box-title2-1584353475696-2  animated">

									<h3 class="title-small mb-0" style=" text-shadow: #f0002f 0.1em 0.1em 0.2em ; color : white ; font-weight : bold ;">SALONS DE THE, RESTAURANTS, PATISSERIES, BOUTIQUES...</h3>

								</div>

								<a class="button-main2 button-shop-1584353475696-2  animated" href="/partenariat" style="color:#f3f3f3; border-color :  #f0002f ;  background-color : #f0002f ;">
									COMMENCER
								</a>


							</div>

						</div>
					</div>
				</div>





			</div>
		</div>
	</div>

	<style>


		.section-slideshow-v1 .slick-active .info-sideh1 .box-content-center .button-shop-1584353475696-2:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-content .button-shop-1584353475696-2:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-content-right .button-shop-1584353475696-2:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-2 .box-title-1584353475696-2 {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}

		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-2 .box-title1-1584353475696-2 {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-2 .box-title2-1584353475696-2 {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}

		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-2 .button-shop-1584353475696-2 {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}


		.section-slideshow-v1 .slick-active .info-sideh1 .box-content-center .button-shop-1584353475696-1:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-content .button-shop-1584353475696-1:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-content-right .button-shop-1584353475696-1:hover {
			background: #f0002f !important;
			border-color: #f0002f !important;
			color: #ffffff !important;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-1 .box-title-1584353475696-1 {
			-webkit-animation-name: zoomIn;
			animation-name: zoomIn;
		}

		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-1 .box-title1-1584353475696-1 {
			-webkit-animation-name: fadeInDown;
			animation-name: fadeInDown;
		}
		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-1 .box-title2-1584353475696-1 {
			-webkit-animation-name: fadeInUp;
			animation-name: fadeInUp;
		}

		.section-slideshow-v1 .slick-active .info-sideh1 .box-info-1584353475696-1 .button-shop-1584353475696-1 {
			-webkit-animation-name: bounce;
			animation-name: bounce;
		}
	</style>

	<script>
		jQuery(document).ready(function ($) {

$('.slick-side-h1').slick({
slidesToShow: 1,
slidesToScroll: 1,
autoplay: false,
dots: true,
arrows: true,
fade: true,
adaptiveHeight: true,
prevArrow: '<button type="button" class="prev-slide"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.787 490.787" style="enable-background:new 0 0 490.787 490.787;" xml:space="preserve"> <path style="fill:#F44336;" d="M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006 c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083 c-0.086,0.089-0.173,0.176-0.262,0.262L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085 C368.236,489.664,365.511,490.792,362.671,490.787z"/> <path d="M362.671,490.787c-2.831,0.005-5.548-1.115-7.552-3.115L120.452,253.006c-4.164-4.165-4.164-10.917,0-15.083L355.119,3.256 c4.093-4.237,10.845-4.354,15.083-0.262c4.237,4.093,4.354,10.845,0.262,15.083c-0.086,0.089-0.173,0.176-0.262,0.262 L143.087,245.454l227.136,227.115c4.171,4.16,4.179,10.914,0.019,15.085C368.236,489.664,365.511,490.792,362.671,490.787z"/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></button>',
nextArrow: '<button type="button" class="next-slide"><svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 490.8 490.8" style="enable-background:new 0 0 490.8 490.8;" xml:space="preserve"> <path style="fill:#F44336;" d="M135.685,3.128c-4.237-4.093-10.99-3.975-15.083,0.262c-3.992,4.134-3.992,10.687,0,14.82 l227.115,227.136L120.581,472.461c-4.237,4.093-4.354,10.845-0.262,15.083c4.093,4.237,10.845,4.354,15.083,0.262 c0.089-0.086,0.176-0.173,0.262-0.262l234.667-234.667c4.164-4.165,4.164-10.917,0-15.083L135.685,3.128z"/> <path d="M128.133,490.68c-5.891,0.011-10.675-4.757-10.686-10.648c-0.005-2.84,1.123-5.565,3.134-7.571l227.136-227.115 L120.581,18.232c-4.171-4.171-4.171-10.933,0-15.104c4.171-4.171,10.933-4.171,15.104,0l234.667,234.667 c4.164,4.165,4.164,10.917,0,15.083L135.685,487.544C133.685,489.551,130.967,490.68,128.133,490.68z"/> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </svg></button>',
responsive: [

{
breakpoint: 1200,
settings: {
infinite: true,
dots: true,
arrows: false
}
}, {
breakpoint: 1024,
settings: {
dots: true,
arrows: false
}
}, {
breakpoint: 600,
settings: {
dots: true,
arrows: false
}
}
]
});
})
	</script>
</div>



<!-- ============== END CAROUSEL ==================-- >




<!-- ============== START DELIVERY ==================-- >

<div id="shopify-section-1591084799956" class="shopify-section index-section">
	<div data-section-id="1591084799956" data-section-type="section-service-v1" style="  ">
		<div class="section-service-v1 mt-all">
			<div class="container container-v1">
				<div class="row slickjs-services-v1">


					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/189d2.png?v=1592987227">
							</div>

							<div class="service-content">

								<h4 class="title">SHIPPING & RETURN</h4>


								<p class="content">If your glasses aren't perfect, return them within 30 days for a full refund. We'll even pay shipping.</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>


					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/217a8.png?v=1592987237">
							</div>

							<div class="service-content">

								<h4 class="title">SAFE PAYMENT</h4>


								<p class="content">Pay with the world's most popular and secure payment methods</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>


					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/334b5.png?v=1592987292">
							</div>

							<div class="service-content">

								<h4 class="title">SHOP WITH CONFIDENCE</h4>


								<p class="content">Our Buyer Protection covers your purchase from click to delivery.</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>


</div> 

</div>


<!-- ================= END DELIVERY =================== -->
<!-- ================= START NEW ARRIVAL =================== -->

 
<!--div id="shopify-section-1590545225347" class="shopify-section">
	<div data-section-id="1590545225347" data-section-type="section-banner-v1" style=" ">
		<div class="section-banner-v1 mt-all">
			<div class="container container-v1">
				<div class="row"> 

					{% for c in cats %}
					<div class="col-lg-6 col-md-6 col-12 col-sm-12 mb-3 mb-md-0" style="padding : 10px !imporant; ">
						<div class="box-info" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  ">
							<div class="box-img-one box-img">
								{% if c.nom == "Electronique" %}
									<a href="#"><img style="height : 320px ; object-fit: cover;" data-src="/uploads/Shop/default_electroniqueShop.jpg" class="lazyload img-fluid w-100"></a>
								{% elseif c.nom=="Cafe" %}
									<a href="#"><img style="height : 320px ; object-fit: cover;" data-src="/uploads/Shop/default_cafeShop.png" class="lazyload img-fluid w-100"></a>

								{% elseif c.nom=="Restaurant" %}
									<a href="#"><img style="height : 320px ; object-fit: cover;" data-src="/uploads/Shop/default_restaurantShop.jpg" class="lazyload img-fluid w-100"></a>

								{% elseif c.nom=="Pâtisserie" %}
									<a href="#"><img style="height : 320px ; object-fit: cover;" data-src="/uploads/Shop/default_patisserieShop.jpg" class="lazyload img-fluid w-100"></a>
									
								{% endif %}
							</div>

							<div class="content-banner">

								<h3 class="title_heading" style="color : white ; text-shadow: black 0.1em 0.1em 0.2em;">{{ c.nom }}</h3>


								<div class="list-inline info-bottom">

									<a href="#" class="button-shop one list-inline-item mr-0" style="color : #000000; background-color:#ffffff;">Découvrir</a>


								</div>
							</div>

						</div>
					</div>
					{% endfor %}
					 

				</div>
			</div>
		</div>
	</div>

	<style>
		.section-banner-v1 .box-info .content-banner .info-bottom .button-shop.one:hover {
			color: #ffffff !important;
			background-color: #f0002f !important;
		}
		.section-banner-v1 .box-info .content-banner .info-bottom .button-shop.two:hover {
			color: #ffffff !important;
			background-color: #f0002f !important;
		}
	</style>


</div-->
<!-- ================= END ARRIVAL =================== -->
 






<!-- ================= FEATURED PRODUCTS ====================== -->

<div id="shopify-section-1592215379002" class="shopify-section" style="margin-top : -10px ; margin-bottom : 10px ;  background-image: linear-gradient(to right, #ACF6F4 , #9CCBCA);">






	<div data-section-id="1592215379002" data-section-type="section-flash-sale">

		<div class="mt-all">
			<div class="lazyload" style="">
				<div class="section-flash-sale pt-all">
					<div class="container container-v1">
						<div class=" heading text-center">

							<h3 class="mb-0 title_heading" style="margin-top : 30px ; ">Sponsorisés</h3>
							<hr>
						</div>


						<div class="row product_new slick_product_5">

							{% for p in featuredHome %}
								<!-- ======== START PROD ================== -->
								<div class="col-12">
									<div class="product-item-v1">


										<div class="product mb-30 engoj_grid_parent relative">
											<div class="img-product relative" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
												<div>
													<a href="{{ path('detail_produit' , {'id': p.id })}}" class="engoj_find_img">
														<img style="width : 250px ; height : 250px  ; object-fit: cover; " data-src="{{asset('uploads/Produit/') ~ p.image}}" class="lazyload w-100 img-responsive" alt="{{ p.name }}">
													</a>
												</div>

												<!--     label product -->


												<figure style="background : #ed1f1f; color: #ffffff ; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;" class="absolute uppercase label-sale text-center">
													New
												</figure>


												<!--     END LABEL -->


												<!--     ICON PRODUCT -->


												<div class="product-icon-action">
													<div class="add-wishlist">

														<a href="#" class="box-shadow  inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">

															<i
																class="fsz-unset">
																<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
																<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400" height="400" width="400" id="svg2" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve">
																	<metadata id="metadata8">
																		<rdf>
																			<work rdf:about="">
																				<format>image/svg+xml</format>
																				<type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></type>
																			</work>
																		</rdf>
																	</metadata>
																	<defs id="defs6"></defs>
																	<g transform="matrix(1.3333333,0,0,-1.3333333,0,400)" id="g10">
																		<g transform="scale(0.1)" id="g12">
																			<path id="path14" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 903,2424.4 c 157.9,0 306.4,-61.5 418.1,-173.1 l 134.8,-134.9 c 20.7,-20.6 48.1,-32 77.1,-32 29,0 56.4,11.4 77,32 l 133.7,133.7 c 111.7,111.6 259.9,173.1 417.5,173.1 156.91,0 305,-61.3 416.8,-172.5 111.2,-111.3 172.5,-259.5 172.5,-417.5 0.6,-157.3 -60.69,-305.5 -172.5,-417.4 L 1531.5,373.5 487.402,1417.6 c -111.601,111.7 -173.105,259.9 -173.105,417.5 0,158.1 61.199,306.1 172.5,416.8 111.308,111.2 259.101,172.5 416.203,172.5 z m 1829.7,-19.6 c 0,0 0,0 -0.1,0 -152.4,152.4 -355.1,236.3 -570.9,236.3 -215.7,0 -418.7,-84.1 -571.5,-236.9 l -56.9,-57 -58.2,58.2 c -153.1,153.1 -356.3,237.5 -572.1,237.5 -215.305,0 -417.902,-83.9 -570.305,-236.3 -153,-153 -236.8942,-356 -236.2966,-571.5 0,-215 84.4026,-417.8 237.4966,-571 L 1454.7,143.301 c 20.5,-20.403 48.41,-32.199 76.8,-32.199 28.7,0 56.7,11.5 76.7,31.597 L 2731.5,1261.8 c 152.7,152.7 236.8,355.7 236.8,571.4 0.7,216 -83,419 -235.6,571.6"></path>
																		</g>
																	</g>
																</svg>
															</i>

														</a>

													</div>

													<div class="add-to-cart">


														<form method="post" action="#" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Add to Cart">
															<input type="hidden" name="id" value="34844276457639"/>
															<button type="submit" name="add" class="enj-add-to-cart-btn ">

																<i class="fsz-unset">
																	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 297.78668 398.66666" height="398.66666" width="297.78668" id="svg2" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve">
																		<metadata id="metadata8">
																			<rdf>
																				<work rdf:about="">
																					<format>image/svg+xml</format>
																					<type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></type>
																				</work>
																			</rdf>
																		</metadata>
																		<defs id="defs6"></defs>
																		<g transform="matrix(1.3333333,0,0,-1.3333333,0,398.66667)" id="g10">
																			<g transform="scale(0.1)" id="g12">
																				<path id="path14" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 2233.36,2432.71 H 0 V 0 h 2233.36 v 2432.71 z m -220,-220 V 220 H 220.004 V 2212.71 H 2013.36"></path>
																				<path xmlns="http://www.w3.org/2000/svg" id="path16" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1116.68,2990 v 0 C 755.461,2990 462.637,2697.18 462.637,2335.96 V 2216.92 H 1770.71 v 119.04 c 0,361.22 -292.82,654.04 -654.03,654.04 z m 0,-220 c 204.58,0 376.55,-142.29 422.19,-333.08 H 694.492 C 740.117,2627.71 912.102,2770 1116.68,2770"></path>
																				<path xmlns="http://www.w3.org/2000/svg" id="path18" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 1554.82,1888.17 H 678.543 v 169.54 h 876.277 v -169.54"></path>
																			</g>
																		</g>
																	</svg>
																</i>

															</button>
														</form>


													</div>


												</div>

												<!--     END ICON -->


											<!--     SOLD OUT -->

												<!-- END SOLD OUT     -->


											</div>


											<div class="info-product">
												<h4 class="des-font capital title-product mb-0 flex">
													<a href="{{ path('detail_produit' , {'id': p.id })}}">{{ p.name }}</a>

												</h4>
												<!--     PRICE -->


												<p class="price-product">
													<span class="price">{{ p.price }}
														DT</span>
													<!--s class="price-old">$20.00</s-->

												</p>

												<!-- END PRODUCT     -->


											<!--     THUMBNAIL PRODUCT -->


												<!-- END THUMBNAIL     -->
											</div>
										</div>
									</div>

								</div>


								<!-- ============ END PRODUCT ================= -->
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>



<!-- ================== END FEATURED ===================== -->
 





<!-- ================= Partenariat ====================== -->

<div id="shopify-section-1592215379002" class="shopify-section" style="margin-top : 0px ; margin-bottom : 20px ;   ">
	<div data-section-id="1592215379002" data-section-type="section-flash-sale">

		<div class="mt-all">
			<div class="lazyload" style="">
				<div class="section-flash-sale pt-all">
					<div class="container container-v1">
						<div class=" heading text-center">

							<h3 class="mb-0 title_heading" style="margin-top : 30px ; ">Partenaires</h3>
							<hr>
						</div>


						<div class="row product_new slick_product_5">

							{% for p in shops %}
								{% if p.status == 1 %}
								<!-- ======== START PROD ================== -->
								<div class="col-12">
									<div class="product-item-v1">


										<div class="product mb-30 engoj_grid_parent relative">
											<div class="img-product relative" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
												<div>
													<a href="{{ path('shop' , {'id': p.name })}}" class="engoj_find_img">
														<img style="width : 250px ; height : 250px  ; object-fit: cover; " data-src="{{asset('uploads/Shop/') ~ p.image}}" class="lazyload w-100 img-responsive" alt="{{ p.name }}">
													</a>
												</div>

												<!--     label product -->


												<figure style="background : #47D847; color: #ffffff ; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;" class="absolute uppercase label-sale text-center">
													{{p.idShopCategory.nom }}
												</figure>


												<!--     END LABEL -->


												<!--     ICON PRODUCT -->


												<div class="product-icon-action">
													<div class="add-wishlist">

														<a href="#" class="box-shadow  inline-block maxus-product__wishlist wish text-center" data-toggle="tooltip" data-placement="top" data-original-title="Add to Wishlist">

															<i
																class="fsz-unset">
																<!--?xml version="1.0" encoding="UTF-8" standalone="no"?-->
																<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 400 400" height="400" width="400" id="svg2" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve">
																	<metadata id="metadata8">
																		<rdf>
																			<work rdf:about="">
																				<format>image/svg+xml</format>
																				<type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></type>
																			</work>
																		</rdf>
																	</metadata>
																	<defs id="defs6"></defs>
																	<g transform="matrix(1.3333333,0,0,-1.3333333,0,400)" id="g10">
																		<g transform="scale(0.1)" id="g12">
																			<path id="path14" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 903,2424.4 c 157.9,0 306.4,-61.5 418.1,-173.1 l 134.8,-134.9 c 20.7,-20.6 48.1,-32 77.1,-32 29,0 56.4,11.4 77,32 l 133.7,133.7 c 111.7,111.6 259.9,173.1 417.5,173.1 156.91,0 305,-61.3 416.8,-172.5 111.2,-111.3 172.5,-259.5 172.5,-417.5 0.6,-157.3 -60.69,-305.5 -172.5,-417.4 L 1531.5,373.5 487.402,1417.6 c -111.601,111.7 -173.105,259.9 -173.105,417.5 0,158.1 61.199,306.1 172.5,416.8 111.308,111.2 259.101,172.5 416.203,172.5 z m 1829.7,-19.6 c 0,0 0,0 -0.1,0 -152.4,152.4 -355.1,236.3 -570.9,236.3 -215.7,0 -418.7,-84.1 -571.5,-236.9 l -56.9,-57 -58.2,58.2 c -153.1,153.1 -356.3,237.5 -572.1,237.5 -215.305,0 -417.902,-83.9 -570.305,-236.3 -153,-153 -236.8942,-356 -236.2966,-571.5 0,-215 84.4026,-417.8 237.4966,-571 L 1454.7,143.301 c 20.5,-20.403 48.41,-32.199 76.8,-32.199 28.7,0 56.7,11.5 76.7,31.597 L 2731.5,1261.8 c 152.7,152.7 236.8,355.7 236.8,571.4 0.7,216 -83,419 -235.6,571.6"></path>
																		</g>
																	</g>
																</svg>
															</i>

														</a>

													</div>

													<div class="add-to-cart">


														<form method="post" action="#" enctype="multipart/form-data" class="inline-block icon-addcart margin_right_10 box-shadow" data-toggle="tooltip" data-placement="top" data-original-title="Add to Cart">
															<input type="hidden" name="id" value="34844276457639"/>
															<button type="submit" name="add" class="enj-add-to-cart-btn ">

																<i class="fsz-unset">
																	<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 297.78668 398.66666" height="398.66666" width="297.78668" id="svg2" version="1.1" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xml:space="preserve">
																		<metadata id="metadata8">
																			<rdf>
																				<work rdf:about="">
																					<format>image/svg+xml</format>
																					<type rdf:resource="http://purl.org/dc/dcmitype/StillImage"></type>
																				</work>
																			</rdf>
																		</metadata>
																		<defs id="defs6"></defs>
																		<g transform="matrix(1.3333333,0,0,-1.3333333,0,398.66667)" id="g10">
																			<g transform="scale(0.1)" id="g12">
																				<path id="path14" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 2233.36,2432.71 H 0 V 0 h 2233.36 v 2432.71 z m -220,-220 V 220 H 220.004 V 2212.71 H 2013.36"></path>
																				<path xmlns="http://www.w3.org/2000/svg" id="path16" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="m 1116.68,2990 v 0 C 755.461,2990 462.637,2697.18 462.637,2335.96 V 2216.92 H 1770.71 v 119.04 c 0,361.22 -292.82,654.04 -654.03,654.04 z m 0,-220 c 204.58,0 376.55,-142.29 422.19,-333.08 H 694.492 C 740.117,2627.71 912.102,2770 1116.68,2770"></path>
																				<path xmlns="http://www.w3.org/2000/svg" id="path18" style="fill-opacity:1;fill-rule:nonzero;stroke:none" d="M 1554.82,1888.17 H 678.543 v 169.54 h 876.277 v -169.54"></path>
																			</g>
																		</g>
																	</svg>
																</i>

															</button>
														</form>


													</div>


												</div>

												<!--     END ICON -->


											<!--     SOLD OUT -->

												<!-- END SOLD OUT     -->


											</div>


											<div class="info-product">
												<h4 class="des-font capital title-product mb-0 flex">
													<a href="{{ path('shop' , {'id': p.name })}}">{{ p.name }}</a>

												</h4>
												<!--     PRICE -->


												<p class="price-product">
													<span class="price">{{ p.description }}
														</span>
													<!--s class="price-old">$20.00</s-->

												</p>

												<!-- END PRODUCT     -->


											<!--     THUMBNAIL PRODUCT -->


												<!-- END THUMBNAIL     -->
											</div>
										</div>
									</div>

								</div>

								{% endif %}
								<!-- ============ END PRODUCT ================= -->
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>


<!-- ================== END FEATURED ===================== -->


<!-- ======= Blog ======== -->
<div class="container" style="margin-bottom : 120px ; margin-top : 100px">
	<div class="row">
		<div class="offset-md-1 col-12 col-md-10">
			<h3>Découvrir notre
				<a href="/blog" style="color : #2B1F6B ; text-decoration : underline">Blog</a>.</h>
		</div>
	</div>
	{% for post in posts %}
		<div class="row" style="margin : 5px ; margin-top : 20px" style="border : 1px solid black ">
			<div class="offset-md-1 col-12 col-md-10" style="border : 1px solid gray ">
				<div style="margin-top : 5px">
					<a href="/blog/{{post.user.username}}">
					<i class='fa fa-user'></i>
					
					{% if post.user.style is null %}
						<span>
					{% else%}
						<span style="color : {{post.user.style.nameColor}} ; text-shadow: {{post.user.style.nameGlow}} 1px 0 10px;"> 
					{% endif %}
						{{post.user.username}}
						</span>

					{% if post.user.position is not null %}
						<span style="ont-style: italic; font-size: 12px ; color : red">
							/{{post.user.position}}
						</span>
					{% endif %}
					</a>
				</div>
				<p style="font-style: italic; font-size: 12px ;  color : gray">{{post.createdAt|date("F jS \\a\\t g:ia")}}</p>
				<p style="color : #5A5959">{{post.contenu}}
				</p>
				<br>
					<div style="float : right ; margin : 5px ; margin-bottom : 10px ; font-size : 15px">
						<a href="{{path('post', {'id' : post.id })}}">
							<i class="fa fa-comments"></i>
							{{post.nbrComments}}
							Commentaires
						</a>
					</div>
			</div>
		</div>

	{% endfor %}

	<div class="row" style="display : flex ; justify-content : center; ">
		<a href="/blog" style="color : #2B1F6B ; font-size : 19px; margin-top : 30px ; text-decoration : underline"> 
			Afficher Plus. 
		</a>
	</div>
	
</div>

<!-- ======= end  blog ======= -->





<div id="shopify-section-1591084799956" class="shopify-section index-section" style="margin-bottom : 100px">
	<div data-section-id="1591084799956" data-section-type="section-service-v1" style="  ">
		<div class="section-service-v1 mt-all">
			<div class="container container-v1">
				<div class="row slickjs-services-v1">
					
					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/334b5.png?v=1592987292">
							</div>

							<div class="service-content">

								<h4 class="title">100% Satisfait</h4>


								<p class="content">Client satisfait, c'est notre priorité.</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>

					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/189d2.png?v=1592987227">
							</div>

							<div class="service-content">

								<h4 class="title">Rapide & Efficace</h4>


								<p class="content">Solution informatique rapide et moderne.</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>


					<div class="col-12 text-center itemtservice justify-content-center">
						<div class="box-service ">

							<div class="icon">
								<img src="../cdn.shopify.com/s/files/1/0414/0069/6999/files/217a8.png?v=1592987237">
							</div>

							<div class="service-content">

								<h4 class="title">Assistance 24/7</h4>


								<p class="content">Utilisation guidée et assistance disponible 24/7.</p>

							</div>
							<div class="clearfix"></div>
						</div>
					</div>


					


				</div>
			</div>
		</div>
	</div>


</div></div>



<!--section class="popup jsengo_popup">
	<div class="modal-overlay"></div>
	<div class="modal-window">
		<div class="window-window">
			<div class="window-content clearfix">
				<a class="close_edit jsclosepoup" title="Close" href="javascript:void(0)">
					<span class="set-14-svg fill-white flex justify-content-center align-items-center w-100 h-100">
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewbox="0 0 298.667 298.667" style="enable-background:new 0 0 298.667 298.667;" xml:space="preserve">
							<g>
								<g>
									<polygon points="298.667,30.187 268.48,0 149.333,119.147 30.187,0 0,30.187 119.147,149.333 0,268.48 30.187,298.667     149.333,179.52 268.48,298.667 298.667,268.48 179.52,149.333   "></polygon>
								</g>
							</g>
						</svg>
					</span>
				</a>
				<div class="left">

					<h1 class="title">Abonnez-vous !</h1>


					<p class="sub-title mb-0">Entrez votre adresse mail pour recevoir nos nouveatés.</p>

					<div id="mailchimp-email-subscibe ">
						<div id="mc_embed_signup">

							<form method="post" action="https://foodry-store-demo.myshopify.com/account" id="create_customer" accept-charset="UTF-8"><input type="hidden" name="form_type" value="create_customer"/><input type="hidden" name="utf8" value="✓"/>

								<div class="form-row">
									<div class="form-group mb-0 col-md-6 col-sm-6">
										<input type="email" placeholder="Email" class="form-control" name="customer[email]" required>
									</div>
									<div class="form-group mb-0 col-md-6 col-sm-6">
										<button type="submit" class="btn btn-primary">S'abonner</button>
									</div>
								</div>
							</form>

						</div>
					</div>

					<h2 class="message">INSCRIVEZ VOUS POUR PARTICIPER A NOS JEUX CONCOURS ET BENEFICIER DE NOS PROMOTIONS EXCEPTIONNELLES</h2>


					<div class="product-socials">
						<ul class="nav-social list-inline list-unstyled">

							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-twitter"></i>
								</a>
							</li>


							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>


							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-behance"></i>
								</a>
							</li>


							<li class="list-inline-item">
								<a href="#">
									<i class="fa fa-instagram"></i>
								</a>
							</li>

						</ul>
					</div>
				</div>

				<div class="right">

					<img style="margin-top : 90px ; " src="/uploads/Shop/logo.png" class="img-fluid" alt="image popup">


				</div>

			</div>
		</div>
	</div>
</section-->
 


{% endblock %}