{% extends 'baseAdmin.html.twig' %}

{% block title %}
<title>Dashboard</title>
{% endblock %}


{% block body %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
	<div class="main-content"> 
        <div class="page-content">
		    <div class="container-fluid">
            
            <div class="row">
            <div class="col-12">
            <div class="card">
            <div class="card-header">


                {% if shop == null %}
                    <!-- ============ Ajout SHOP ================= -->
                    <center>
                        <H1> Bienvenue chez Ali Bey </H1>
                        <h5> Veuillez Tout d'abord inscrire votre boutique. </h5>
            
                        <br>
                        

                        {{form_start(formShop)}}
                            {{ form_label(formShop.name,"Nom ") }}
                            {{ form_widget(formShop.name) }}
                            <div style="color : red">
                                {{ form_errors(formShop.name) }}
                            </div>
                            <br> 

                            {{ form_label(formShop.description,"Description ") }}
                            {{ form_widget(formShop.description , {'required' : false}) }}
                            <div style="color : red">
                                {{ form_errors(formShop.description) }}
                            </div>
                            <br> 

                            {{ form_label(formShop.image,"Image ") }}
                            {{ form_widget(formShop.image , {'required' : false}) }}
                            <div style="color : red">
                                {{ form_errors(formShop.image) }}
                                {% if app.request('error') is defined %}
                                Les extensions acceptés sont : png, jfif, jpeg, gif, jpg.
                                {% endif %}
                            </div>
                            <br> 

                            {{ form_label(formShop.map,"Google Map ") }}
                            {{ form_widget(formShop.map , {'required' : false}) }}
                            <div style="color : red">
                                {{ form_errors(formShop.map) }}
                            </div>
                            <br> 

                            {{ form_label(formShop.idShopCategory,"Catégorie ") }}
                            {{ form_widget(formShop.idShopCategory) }}
                            <div style="color : red">
                                {{ form_errors(formShop.idShopCategory) }}
                            </div>
                            <br> 
                        {{ form_end(formShop) }}
                    </center>








                {% else %}
                    {% for s in shop %}
                        <h2>
                            Bonjour <span style="color : green">{{s.name}}, </span>
                            
                        </h2>
                        <a href={{"/" ~ s.name }} style="font-size : 20px ; margin-bottom : 20px  !important ;  "> Visiter Boutique </a>
                        <br>
                        <br>
                        <table>
                            <tr>
                                <td>
                                    <img style="width : 150px ; height : 150px  ;   margin-right: 10px ; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  object-fit: cover !important;" src="{{asset('uploads/Shop/') ~ s.image }}">
                                </td>
                                <td>
                                    <div>Categorie : {{s.idShopCategory.nom}} </div>
                                    <div>Total Visites : {{ s.visits }} </div>
                                    <div>Abonnement : <span style="color : orange">{{days}} Jours</span></div>
                                    <div>Statut : 
                                        {% if s.status == 0 %}
                                            <span style="color:red" >Inactif</span>
                                        {% else %}
                                            <span style="color:green">Actif</span>

                                        {% endif %}
                                    </div>
                                    <br>
                                    <!--a href={{"modifierBoutique?id=" ~ s.id}} class="btn btn-success waves-effect waves-light">Modifier</a-->
                                    
                                </td>
                            </tr> 
                        </table>
                        <br>
                                    <a href={{"modifierBoutique?id=" ~ s.id}} style="margin-top : 10px" class="btn btn-success waves-effect waves-light">Modifier Boutique</a>
                                    <a href="/produit" style="margin-top : 10px"  class="btn btn-success waves-effect waves-light">Produits</a>
                                    <a href="/categorieProduit" style="margin-top : 10px"  class="btn btn-success waves-effect waves-light">Categories</a>

                        
                         
                    {% endfor %}
                {% endif %}


            </div>

            <!--div class="card-header">
                
            </div-->





            </div>
            </div>
            </div>

            </div>
        </div>
    </div>
    

{% endblock %}
