{% extends 'base.html.twig' %}
{% block title %}
	<title>
		Blog
	</title>

{% endblock %}

{% block body %}

	<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    
	<div class="container" style="margin-top : 20px; margin-bottom : 50px">

		<div class="row">
			<div class="offset-md-1 col-12 col-md-10" >
                <span style="float : right">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
			    <a href="/blog" > Retour </a>
                </span>
            </div>    
		</div>
		 

		

		<!-- ==== post ====== -->
        
			<div class="row" style="margin : 5px ; margin-top : 10px" style="border : 1px solid black ; ">
				<div class="offset-md-1 col-12 col-md-10" style="border : 1px solid #E5E5E5 ; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; margin-bottom : 30px">
					<div style="margin-top : 5px">

						{% if user is not null %}
							{% if user.username == post.user.username %}
							<a href="{{"/DeleteBlog?id=" ~ post.id}}" class="float : right ; font-size : 18px">
								<i class="fa fa-trash-o"></i>
							</a>
							{% endif %}
						{% endif %}


						<a href="/blog/{{post.user.username}}">
						<i class='fa fa-user'></i>
						 
							 
						{% if post.user.style is null %}
							<span>
						{% else%}
							<span style="color : {{post.user.style.nameColor}} ; text-shadow: {{post.user.style.nameGlow}} 1px 0 10px;"> 
						{% endif %}
							{{post.user.username}}
							</span>

							 
							  
						{% if post.user.position is not null %}
							<span style="ont-style: italic; font-size: 12px ; color : red">
								/{{post.user.position}}
							</span>
						{% endif %}
					</div>
					</a>


					<p style="font-style: italic; font-size: 12px ;  color : gray">{{post.createdAt|date("F jS \\a\\t g:ia")}}</p>
					<p style="color : #5A5959">{{post.contenu}}
					</p>
					<br>
					<div style="float : right ; margin : 5px ; margin-bottom : 10px ; font-size : 15px">
							<i class="fa fa-comments"></i>
							{{post.nbrComments}}
							Commentaires
						 
					</div>
				</div>
			</div>

		<!--====== end post ====== --> 

        <div class="row" style="">		
            <div class="offset-md-1 col-12 col-md-10">
                {% if user is not null %}
                    
                    {{form_start(form)}} 
                         
                            {{ form_widget(form.Contenu) }}
                       
                        <div style="float : right ; margin-top : 10px">
                            {{ form_widget(form.Commenter) }}
                        </div>
                    {{form_end(form)}}
				{% else %}
					<div><a href="/connexion" style="color : #2B1F6B ; text-decoration : underline">Connectez-vous</a> pour commenter. </div>
                {% endif %}
            </div>
        </div>


        {% for comment in comments %}
            <div class="row" style="margin : 5px ; margin-top : 10px" style="border : 1px solid black ; ">
				<div class="offset-md-1 col-12 col-md-10" style="border : 1px solid #E5E5E5 ; box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; margin-bottom : 30px">
					<div style="margin-top : 5px">
						<a href="/blog/{{comment.user.username}}">
						<i class='fa fa-user'></i> 


						{% if comment.user.style is null %}
							<span>
						{% else%}
							<span style="color : {{comment.user.style.nameColor}} ; text-shadow: {{comment.user.style.nameGlow}} 1px 0 10px;"> 
						{% endif %}
							{{comment.user.username}}
							</span>




						{% if comment.user.position is not null %}
							<span style="ont-style: italic; font-size: 12px ; color : red">
								/{{comment.user.position}}
							</span>
						{% endif %}
					</div>
					</a>


					<p style="font-style: italic; font-size: 12px ;  color : gray">{{comment.createdAt|date("F jS \\a\\t g:ia")}}</p>
					<p style="color : #5A5959">{{comment.contenu}}
					</p>
					<br>
					 
				</div>
			</div>
        {% endfor %}

	</div>


{% endblock %}

